.container.searchBox{
    margin-top: 38px;
    margin-bottom: 12px;
}
.searchBox input{
    border: 0;
    border-bottom: 1px solid white;
    color: white;
    background-color: transparent;
    outline: none;
}

.searchBox button{
    outline: none;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
