.header {
    width: 100%;
    height: 50px;
    background-color: #333333;
    margin: 26px 0px;
}

.header .container{
    position: relative;
    height: 100%;
}

.header .container img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
